@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar-container {
    width: 250px;
    height: 100vh;
    border: 1px solid rgb(83, 82, 82);
    padding: 20px 10px;
    overflow-y: auto;
    transition: all 0.5s ease;
    z-index: 1;
    background: white;
}
.desktop_Ham
{
    width: 70px;
}
.desktop_Ham span
{
    display: none;
}


.sidebar-container::-webkit-scrollbar {
    width: 3px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
}

/* Side bar Menu Section */
.dash-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.dash-logo i {
    font-size: 18px;
    cursor: pointer;
}

/* .dash-logo span
{
    display: none;
} */
.menu-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-item {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-left: 12px; */
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 5px;
}

.menu-item i {
    font-size: 20px;
    margin-right: 10px;
}

.dashboard-main-container {
    display: flex;
}

/* Dashboard Content Start */
#ham {
    display: none;
}

.hamed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dash-content {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.dashboard-top-container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.search-container {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
}

.search-container input {
    border: none;
    background: none;
}

.mode-container {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.mode-container i {
    font-size: 18px;
    color: gray;
}

.logout-container-top {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}














@media (max-width:470px) {
    #ham
    {
        display: block;
    }
    .sidebar-container
    {
        position: absolute;
        transform: translateX(-250px);
    }
    .activeHam
    {
        transform: translateX(0px);
    }
    .search-container
    {
        display: none;
    }
}