@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root
{
    --color: rgb(126, 124, 124);
}
body
{
    background: #f9fafb;
}
.sidebar-container {
    width: 250px;
    height: 100vh;
    border: 1px solid rgb(83, 82, 82);
    padding: 20px 10px;
    overflow-y: auto;
    transition: all 0.5s ease;
    z-index: 1;
    background: white;
}

.sidebar-container::-webkit-scrollbar {
    width: 3px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
}

/* Side bar Menu Section */
.dash-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.dash-logo i {
    font-size: 18px;
    cursor: pointer;
}

/* .dash-logo span
{
    display: none;
} */
.menu-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-item {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-left: 12px; */
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 5px;
}

.menu-item i {
    font-size: 20px;
    margin-right: 10px;
}

.dashboard-main-container {
    display: flex;
}

/* Dashboard Content Start */
#ham {
    display: none;
}

.hamed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dash-content {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.dashboard-top-container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.search-container {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
}

.search-container input {
    border: none;
    background: none;
}

.mode-container {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.mode-container i {
    font-size: 18px;
    color: gray;
}
.notified-cont
{
    position: relative;
}

.logout-container-top {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Dashobaord Overview Container */
.dashboard-cont-main-1
{
    width: 100%;
    height: 89vh;
    border: 1px solid red;
    overflow-y: auto;
}
.dashboard-cont-1
{
    max-width: 1130px;
    height: 40%;
    border: 4px solid rgba(151, 150, 150, 0.724);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 15px;
    background: #ffffff;
}
.dash-cont-1-head
{
    width: 100%;
    height: 50%;
}
.dash-cont-1-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.tabs-cont
{
    width: 214px;
    height: 39px;
    background: #F2F4F7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.tabs-cont .tab 
{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    background: none;
    border: none;
    color: #414d60;
}
.tabs-cont .active
{
    background: #ffffff;
    color: black;
    border-radius: 5px;
}

/* Center orange circle */
.circle {
  width: 10px;
  height: 10px;
  background: #ff8a2b;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Animated outer ring */
.pulse {
  position: absolute;
  top: 12%;
  left: 75%;
  width: 10px;
  height: 10px;
  background: rgba(255, 138, 43, 0.35);
  border-radius: 50%;
  /* transform: translate(-50%, -50%); */
  animation: pulse 1.6s infinite ease;
  z-index: 1;
}
@keyframes pulse {
    0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0.8;
}
100% {
    transform: translate(-50%, -50%) scale(2.4);
    opacity: 0;
}
}
.overview-content-container
{
    width: 100%;
    height: 90px;
    border: 1px solid rgba(186, 185, 185, 0.724);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 10px;

}
.overview
{
    width: 100%;
    height: inherit;
    border: 1px solid rgba(173, 172, 172, 0.724);
}
.overview p
{
    color: var(--color);
}
.overview:nth-child(1)
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.overview:nth-child(4)
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.overview
{
    padding: 12px 15px;
}
.revenue-cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.revenue-cont h3
{
    font-size: 25px;
}
.revenue-cont p
{
    background: #d2f6e2da;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(22, 143, 22);
}

/* Dashboard Grid Section */
.dashboard-grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    /* gap: 10px; */
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
    gap: 20px;
}
.card
{
    width: 100%;
    height: 100px;
    border: 1px solid red;
}
.card p
{
    font-size: 13px;
    font-weight: 500;
    color: var(--color);
}
.churn
{
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
    border-radius: 10px;
    height: 200px;
    padding: 10px 15px;
    padding-top: 20px;
}
.growth
{
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 10px;
    height: 200px;
}
.performance
{
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    height: 200px;
}
.conversion
{
    grid-column: 1 / 3;
}
.invoice
{
    grid-column: 1 / 3;
}
.activities
{
    grid-column: 3/5;
}
.dash-section-2
{
    /* border: none; */
    background: none;
    padding: none;
    padding: 1px 1px;
    height: auto;
}
.dots-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
.ghurun-graph
{
    
}










@media (max-width:470px) {
    #ham
    {
        display: block;
    }
    .sidebar-container
    {
        position: absolute;
        transform: translateX(-250px);
    }
    .activeHam
    {
        transform: translateX(0px);
    }       
    .search-container
    {
        display: none;
    }
    .overview-content-container
    {   
        grid-template-columns: repeat(2,1fr);
    }
}