@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar-container
{
    width: 250px;
    height: 100vh;
    border: 2px solid red;
    padding: 20px 10px;
    overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar{
    width: 3px;
}
.sidebar-container::-webkit-scrollbar-track
{
    background: transparent;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

/* Side bar Menu Section */
.dash-logo
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.dash-logo span i
{
    font-size: 18px;
}
.dash-logo span
{
    display: none;
}
.menu-container
{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.menu-item
{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 12px; */
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 5px;
}
.menu-item i
{
    font-size: 20px;
    margin-right: 10px;
}